{% extends 'base.html' %}
{% block content %}

{% load static %}

<div>
  <h1 class="titulo" style="text-align:center;">Bienvenido a NUAM</h1>
</div>
<br>

  <div class="menu" style="text-align:center;">
    {% if request.session.usuario_id %}
    {% if request.session.tipo == "Administrador" %}
    <h2>Hola, {{ persona.nombres }} {{ persona.apellidos }}</h2>
    {%else%}
    <h2>Hola, {{ persona.nombres }} {{ persona.apellidos }}</h2>
    {% endif %}
    <br>
    <a href="{% url 'logout' %}" class="btn" style="background:#c0392b;color: white">Cerrar sesión</a>

    {% else %}
    <a href="{% url 'login' %}" class="btn" style="background-color:rgb(255,66,1); color: white;">Iniciar sesión</a>
    {% endif %}
     
  </div>


<br><br>
<div class="Form">
  {% if error_api %}
    <p style="color:red; text-align:center;"><strong>{{ error_api }}</strong></p>
  {% endif %}

  <h3>Indicadores Económicos (API Mindicador)</h3>
  <hr>

  <p><strong>TPM:</strong>
    {% if tpm_actual %} {{ tpm_actual }}% {% else %} No disponible {% endif %}
  </p>

  <p><strong>CLP → PEN:</strong>
    {% if tc_clp_pen %} {{ tc_clp_pen }} {% else %} No disponible {% endif %}
  </p>

  <p><strong>CLP → COP:</strong>
    {% if tc_clp_cop %} {{ tc_clp_cop }} {% else %} No disponible {% endif %}
  </p>
</div>

{% endblock %}
