{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>NUAM</title>
  <link rel="stylesheet" href="{% static 'app/styles.css' %}">
  <link rel="icon" type="image" href="{% static 'app/nuam_HD2.png' %}">
</head>

<body>
  
  <img class="logo" src="{% static 'app/nuam_HD.png' %}" style="height: 40px;">
  
  <div class="container">

    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
        <br>
      <p>©copyright nuam 2024. Todos los derechos reservados - Powered by nuam</p>
    </footer>
  </div>
</html>